
[Unit]
Description=Astronomy Centre Remscope
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/ubuntu/rsenv/bin/python /home/ubuntu/remscope/remscope.py

User=ubuntu

Restart=on-failure

# Connects standard output to /dev/null
StandardOutput=null

# Connects standard error to journal
StandardError=journal

[Install]
WantedBy=multi-user.target

